/* spruce up the visible part of the HTML code */

*{
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    font-weight:bold;
}

body{
    overflow-x:hidden; /* no one likes horizontal scroll ...  */
    background-color:#fca311;
    /* margin-top:5%; -- prevent existing top element from being covered up by fixed menu */
}

/* div.sticky{
    display:flex;
    position: sticky;
    top:80%;
    background-color:lightblue;
    padding:90px;  expands the area b/t the content and border by 50px 
    font-size:20px;
    opacity: 0.9;
     z-index  gives depth to an image & it only works w/ "position" or "flex" elements
    in this case, giving this sticky a "z-index: 1" allows it to pop in front of all surround elements 
    z-index: 1; 

  } */

/* anchor pseudo-classes applying styles to hyperlinks in HTML page (ref: 307.2 p.32) */
a:link{
    color:#8ecae6; /* unvisited link */
}
a:visited{
    color:#219ebc;
}
a:hover{
    color:white;        /* "a:hover" must be after "a:link" and "a:visited" for maximum effect */
}
a:active{
    color:rgba(133, 19, 19, 0.2);       /* "a:active" should always be after "a:hover" in order */
}


h1{
    color:white;
    font-weight:bolder;
}

hr{
    border: 10px solid #9d0208;
}

nav{
    position:fixed;
    top: 0;
}

table{
    display:flex;
    justify-content:center; 
    padding-top:2%;
    
    
}

th, td, tr{
    border: 1px solid black;
    th{
        font-weight:bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color:#219ebc;
    }
    td{
        background-color:aliceblue
    }
}

/* .flex-container{
    position: relative;
    width: 100%;
    height: 100%;
} */

#box1{
    position: relative;
    /* width: 100%; */
    height: 100%;
    width:70%;
    /* margin:0% 10% ; */
    margin:auto;
}

header{
    /* display:flex;
    justify-content:start; */
    text-align: center;
    /*padding-left: 10%;   move 15% inside the container b/t content & left border */
    /* "margin-left: 15%" (move 15% outside container b/t left border & edge) would also work */
}

.carousel{
    /* display:flex;
    justify-content:center; */
    /* margin-right:auto; */
    margin:auto;  /*-- would center it*/
    width:700px;
    height:465px;
    box-shadow: 10px 10px 10px 5px;
    opacity: 0.9; /* slightly translucent */
}

aside{
    display:flex;
    justify-content:end;
    margin-left:auto;
    /* padding-left:auto; */
    /* background-color:#FAEDCD; */
} 

/* separate each list elements by 0.5 of font-size */
li{
    margin-bottom: 0.5rem;
}

article{
    border: 1px solid red;
    font-weight:bold;
}

article > h2{
    color:#023047;
    font-family:cursive;
}
/* section{
    display:flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-left: auto;
    align-content: center;
} */

section{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    
}


fieldset{
    display:flex; 
    justify-content: end; 
    flex-direction:column; 
    border:1px blue solid;
}

section > div{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
}
  
section > div:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

footer{
    display:flex;
    
}

footer > p{
    
    text-align:right;
    font-size:medium;
    margin-left:auto;
}

/* accomodate for different different viewing */
/* changes width to 100% view when the viewport is 426px or smaller (mobile[large]) */
@media screen and (max-width: 426px){
    body{
        width: 100%; 
    }
}