body{
    overflow-x:hidden; /* no one likes horizontal scroll ...  */
    background-color:grey;
}

.advertise1{
    display:flex;
    justify-content: center;
}

h2{
    color:white;
}

hr{
    border: 10px solid green;
}
.section3{
    display:flex;
    flex-wrap: wrap;
}

.carousel{
    width:600px;
    height:400px;
    margin:auto;
    box-shadow: 10px 10px 10px 5px;
    opacity: 0.9;
  }

/* separate each list elements by 0.5 of font-size */
li{
    margin-bottom: 0.5rem;
}
/* .background{
    background-image: url(https://pin.it/6VaQJU4NM);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   }
   li {
    float: left;
    border-right: 1px solid #bbb;
   }
   li:last-child {
    border-right: none;
   }
   li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
   li a:hover:not(.active) {
    background-color: #111;
   }
   .active {
    background-color: #04AA6D;
   } */
   
